*
{
  margin: 0px;
  box-sizing: border-box;
}

/* navigation container */

ul
{
  display:flex;
  position: absolute;
  right: 50px;
}
li
{
  list-style-type: none;
  padding-left: 50px;
  font-family: 'Jura', sans-serif;
}
.logo_container
{
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.logo_container img
{
  height:50px;
  width: 50px;
}
.logo_container .logo_name
{
  font-size: 50px;
  /* font-family: 'Jura', sans-serif; */
  font-family: 'Itim', cursive;
}
.nav_container
{
  display: flex;
  height:80px;
  background-color: #E8CA7E;
  /* background-color: white; */
  align-items: center;
  position: relative;
  border: 1px black solid;
  box-shadow: 0px 0px 5px 0px black;
}
@media(max-width:1000px)
{
  li
  {
    padding-left: 40px;
  }
  .logo_container img
  {
    height: 40px;
    width:40px;
  }
  .logo_container .logo_name
  {
    font-size: 40px;
  }
  .logo_container
  {
    margin-left: 40px;
  }
  ul
  {
    right: 40px;
  }
}

@media(max-width:844px)
{
  li
  {
    padding-left: 30px;
  }
  .logo_container img
  {
    height: 30px;
    width:30px;
  }
  .logo_container .logo_name
  {
    font-size: 30px;
  }
  .logo_container
  {
    margin-left: 30px;
  }
  ul
  {
    right: 30px;
  }
}

/* home container */

.home_container
{
  height: 655px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url('/public/images/home_page_honey_hieve.png');
  background-repeat: no-repeat;
  background-position: 870px 80px; */
}
.home_container img
{
  width: 100px;
  height: 100px;
}
.home_page_name
{
  font-size: 100px;
  font-family: 'Jura', sans-serif;
}
.home_page_upper
{
  display: flex;
}
.home_page_lower
{
  display: flex;
}
.home_page_aspired
{
  font-size: 50px;
  color: #E8CA7E;
  font-family: 'Jura', sans-serif;
}
.home_page_designation
{
  font-size: 50px;
  font-family: 'Jura', sans-serif;
}

@media(max-width:1000px)
{
  .home_container
  {
    background-position: 500px 80px;
  }
  .home_container img
  {
    height:90px;
    width: 90px;
  }
  .home_page_name
  {
    font-size: 90px;
  }
  .home_page_aspired
  {
    font-size: 40px;
  }
  .home_page_designation
  {
    font-size: 40px;
  }
}
@media(max-width:844px)
{
  .home_container
  {
    background-position: 300px 80px;
  }
  .home_container img
  {
    height:80px;
    width: 80px;
  }
  .home_page_name
  {
    font-size: 80px;
  }
  .home_page_aspired
  {
    font-size: 30px;
  }
  .home_page_designation
  {
    font-size: 30px;
  }
}

/* .nav_container
{
  height:80px;
  background-color: #E8CA7E;
  position: relative;
  align-items: center;
}
ul li
{
  display: inline-block;
  padding-left: 50px;
  font-family: 'Jura', sans-serif;
}
img
{
  display: inline-block;
  height:50px;
  width:50px;
}
.logo_name
{
  display:inline-block;
  font-size: 50px;
}
ul
{
  display: inline-block;
  position: absolute;
  right: 10px;
}
.logo_container
{
  display: inline-block;
} */